<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>sidebar</h1>
    </mat-toolbar-row>
    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <mat-list-item>
          <a mat-list-item>home</a>
          <a mat-list-item>about</a>
          <a mat-list-item>home</a>
          <a mat-list-item>about</a>
        </mat-list-item>
      </mat-sidenav>
      <mat-sidenav-content>
        <div style="height: 88vh;">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-toolbar>
  